@font-face {
    font-family: "SpaceGroteks-Semibold";
    src: url("fonts\space_Groteks\static\SpaceGrotesk-SemiBold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SpaceGroteks-Regular";
    src: url("fonts\space_Groteks\static\SpaceGrotesk-Regular.ttf");
}
.menubtn {
    display: inline-flex;
    border: none;
    margin-top: 20px;
    text-align: left;
    text-decoration: none;
    float: right;
}

.logo {
    display: inline-flex;
    text-decoration: none;
    float: inline-start;
    margin-top: 20px;
    margin-left: 10px;
}


.navigation-blog a{
    border-top: 100px;
    color: #667085;
    text-decoration: none;
    display: none;

    text-align: center;
    font-size: 14px;
}

.wrapper {
    display: inline;
    
}


.description h1{
    text-align: left;
    margin-bottom: 20px;
    font-family: "SpaceGroteks-Semibold", sans-serif;
    font-size: 48px;
    }

.description a{
    text-decoration: none;
}

.description p {
    text-align: left;
    margin-top: 100 px;
    font-family: "SpaceGroteks-Regular", sans-serif;
    font-size: 18px;
}

.description button {
    background-color: #F7931A;
    display: inline-block;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 40px;
    text-align: center;
}

.description button a{
    color: #FFFFFF;
    font-size: 18px;
    font-family: "SpaceGroteks-Semibold", sans-serif;
    
}